body {
    padding: 0;
    margin: 0;
    display: flex;
}

@font-face {
    font-family: 'logo-font';
    src: url(./fonts/SmoochSans-VariableFont_wght.ttf);
}

.logo {
    font-family: logo-font, serif;
}